
.output{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    flex: 1 0 50%;
    margin-bottom: 50px;
}
.component{
    flex: 1 0 50%;
    box-sizing: border-box;
}
.compcontainer{
    margin-left: 10px;
    margin-right: 10px;
}
.compOut{
    background: #1C2323;
    border: 1px solid #273132;
    height: 275px;
    border-radius: 24px;
    padding:20px;
    min-width:290px;
}
.containerOut{
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #8dacacef;
    font-size: 17px;
    font-weight: 200;
    height: 275px;
    overflow: auto;
    padding-right: 25px;
}

.retOut{
    min-height: 55px;
    height: auto;
}
.containerRet{
    min-height: 55px;
    height: auto;
   
}
.containerOut::-webkit-scrollbar {
  width: 2px;
}
.containerOut::-webkit-scrollbar-thumb {
  background:#01FFF4;
  border-radius: 24px;
}

.compElement{
    display: flex;
}
.firstRow{
    width: 50px !important;
}
p{
    word-break: break-all;
    margin-top: 0;
}
@media screen and (max-width: 400px) {

    .component{
        flex: auto;
    }

    .compOut{
        min-width:auto;
    }
}