.opcodescontainer {
  display: flex;
  margin-top: 24px;
  
}

.singleopcontainer{
  width: 350px;
  display: flex;
    justify-content: center;
}
.singleopcode{

    width: clamp(200px,200px + 10vw ,280px);
    height: 120px;
    background: #191F1F;
    /* card */
    box-shadow: 0px 4px 40px rgba(29, 141, 136, 0.1);
    border-radius: 24px;
    padding: 24px;
}
.alice-carousel__wrapper {
  all:unset;
  /* overflow: scroll !important; */
}
.alice-carousel{
display: flex;
justify-content: center;
}

.title{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */
/* EVM/blue-neon */
color: #01FFF4;
}
.description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.searchContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}
.searchOp{
  all: unset;
  width: 500px;
  height: 54px;
  background: #181D1C;
  box-shadow: 0px 4px 50px rgba(1, 255, 244, 0.08);
  border-radius: 24px;

  font-size: 16px;
  line-height: 18px;
  color: #8dacac7f;
  padding-left: 55px;
  padding-right: 25px;
}
.icon-search{
  position: absolute;
  font-size: 30px;
  line-height: 18px;
  color: #01FFF4;
  margin-left: 17px;
}
.searchContainer{
  display: flex;
  align-items: center;
}
.searchIcon_container{
    display: flex;
    align-items: center;
    
}