.opcodescontainer {
  display: flex;
  
  
}

.opcodescontainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.singleopcode{

    flex: 0 0 auto;
    width: 292px !important;
    height: 80px;
    background: #191F1F;
    /* card */
    box-shadow: 0px 4px 40px rgba(29, 141, 136, 0.1);
    border-radius: 24px;
    margin: 0px 12px !important;
    padding: 24px;
}
.title{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */
/* EVM/blue-neon */
color: #01FFF4;
}
.description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6);
}
.slick-list{
    overflow: none !important;
}