@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background: #1B2222;
    font-family: 'Inter',apple-system, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    margin: 0;
    overflow-x: hidden;

}
#root{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: static;
}


h2{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */
    color: #BAFFFD;
}
h3{
    position: relative;
    margin-top: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 116px;
    color: #BAFFFD;
}